<div class="container">
  <div class="mat-elevation-z8">
    <button mat-raised-button (click)="addModelo()" color="primary"><mat-icon>add</mat-icon>Novo Modelo</button>
    <button mat-raised-button (click)="sair()" color="warn"><mat-icon>exit_to_app</mat-icon>Sair</button>
    <table mat-table [dataSource]="listaModelo">

      <!-- Position Column -->
      <ng-container matColumnDef="idModelo">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let row"> {{row.idModelo}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="descricaoModelo">
        <th mat-header-cell *matHeaderCellDef> Descrição </th>
        <td mat-cell *matCellDef="let row"> {{row.descricaoModelo}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="statusModelo">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let row"> {{row.statusModelo}} </td>
      </ng-container>

      <ng-container matColumnDef="id_secao">
        <th mat-header-cell *matHeaderCellDef> Secao </th>
        <td mat-cell *matCellDef="let row"> {{row.id_secao}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button><mat-icon>edit</mat-icon></button>
          <button mat-icon-button color="primary"><mat-icon>delete</mat-icon></button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                  showFirstLastButtons
                  aria-label="Select page of listaMarca marca">
    </mat-paginator> -->
  </div>
</div>
