.demo-table {
  width: 100%;
}

.demo-button-container {
  padding-bottom: 16px;
}

.demo-button + .demo-button {
  margin-left: 8px;
}



.table thead {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 90%;
}

.mat-table {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 90%;
  font-size: 25px;
}
