.container {
  border: #000000 solid 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 90%;
}

.table thead {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 90%;
}

.mat-table {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 90%;
}
